{% load static %}

<div class="ui vertical footer segment ">
    <div class="ui center aligned container">
        <div class="ui divider"></div>
        <img src="{% static 'img/logo.png' %}" class="ui centered mini image">
        <div class="ui horizontal   small divided link list">
            <a class="item" href="http://www.sicnurpz.online">四川师范大学计算机科学协会</a>
            <a class="item" href="#">联系我们</a>
            <a class="item" href="#">蜀ICP备18030485号</a>
        </div>
    </div>
</div>